@import "tailwindcss";

@font-face {
  font-family: "work-sans-medium";
  src: url("../assets/fonts/Work_Sans/static/WorkSans-Medium.ttf");
}
@font-face {
  font-family: "work-sans-light";
  src: url("../assets/fonts/Work_Sans/static/WorkSans-Light.ttf");
}
@font-face {
  font-family: "work-sans-bold";
  src: url("../assets/fonts/Work_Sans/static/WorkSans-Bold.ttf");
}
@font-face {
  font-family: "work-sans-semi-bold";
  src: url("../assets/fonts/Work_Sans/static/WorkSans-SemiBold.ttf");
}
@font-face {
  font-family: "work-sans-extra-bold";
  src: url("../assets/fonts/Work_Sans/static/WorkSans-ExtraBold.ttf");
}
@font-face {
  font-family: "work-sans-regular";
  src: url("../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --work-sans-light: "work-sans-light";
  --work-sans-bold: "work-sans-bold";
  --work-sans-semi-bold: "work-sans-semi-bold";
  --work-sans-medium: "work-sans-medium";
  --work-sans-extra-bold: "work-sans-extra-bold";
  --work-sans-regular: "work-sans-regular";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-work-sans-light: var(--work-sans-light);
  --font-work-sans-bold: var(--work-sans-bold);
  --font-work-sans-semi-bold: var(--work-sans-semi-bold);
  --font-work-sans-medium: var(--work-sans-medium);
  --font-work-sans-extra-bold: var(--work-sans-extra-bold);
  --font-work-sans-regular: var(--work-sans-regular);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "work-sans-regular", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 991px) {
  .col-responsive {
    display: none !important;
  }
}
